<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConfluencePowerShellModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ConfluencePowerShellModule.Properties.Settings>
            <setting name="ConfluencePowerShellModule_ConfluenceService_ConfluenceSoapServiceService"
                serializeAs="String">
                <value>https://wikitest.sys.dom/plugins/servlet/soap-axis1/confluenceservice-v2</value>
            </setting>
        </ConfluencePowerShellModule.Properties.Settings>
    </applicationSettings>
</configuration>